<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<!-- Custom log file path -->
		<Property name="LOG_PATH">${sys:LOG_PATH:-./logs}</Property>
		<Property name="LOG_FILE_NAME">application.log</Property>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %msg%n</Property>
	</Properties>
	
	<Appender>
		<!-- File Appender -->
		<RollingFile type="File" name="RollingFileAppender" fileName="${LOG_PATH}/${LOG_FILE_NAME}"
			filePattern="${LOG_PATH}/application-%d{yyyy-MM-dd-HH-mm-ss}-%i.log">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingFile>
		
		<!-- Console Appender -->
		<Console name="ConsoleAppender" target="SYSTEM.OUT">
			<PatternLayout>
				<pattern>${LOG_PATTERN}</pattern>
			</PatternLayout>
		</Console>
	</Appender>
	
	<Loggers>
		<!-- Custom Logger -->
		<Logger name="com.spring" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<!-- Root Logger -->
		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>

<!--<CronTriggeringPolicy schedule="0 0 0 * * ?" />-->