body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('2609430.jpg'); /* Added background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    position: relative;
    text-align: center;
}

.background-image {
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

h2 {
    font-size: 48px;
    margin: 0;
    color: whitesmoke;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6f61;
    border: none;
    color: white;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}
